* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
  color: white;
}
.title {
  color: #f0f7ee;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  font-size: 3.5rem;
}
.turn {
  color: #ef233c;
  margin-top: 2.5vh;
  margin-bottom: 3.5vh;
  font-size: 2rem;
}
.container {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: 2px solid #778da9; /* White border between boxes */
  border-radius: 0;
  font-size: 8vmin;
  background-color: #0d1b2a;
  color: white;
}

.box:hover {
  background-color: #415a77;
}
@media only screen and (max-width: 600px) {
  .container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    height: 25vmin;
    width: 25vmin;
    border: 2px solid #778da9; /* White border between boxes */
    border-radius: 0;
    font-size: 15vmin;
    background-color: #0d1b2a;
    color: white;
  }
  .title {
    color: #f0f7ee;
    margin-top: 4.5vh;
    font-size: 2.5rem;
  }
  .turn {
    color: #ef233c;
    margin-top: 7vh;
    /* margin-bottom: 5.5vh; */
    font-size: 1.5rem;
  }
}

.box1 {
  border-top-left-radius: 1rem;
}
.box3 {
  border-top-right-radius: 1rem;
}
.box7 {
  border-bottom-left-radius: 1rem;
}
.box9 {
  border-bottom-right-radius: 1rem;
}

.row:nth-child(1) .box {
  border-top: none;
}

.row:nth-child(3) .box {
  border-bottom: none; /* Remove bottom border for the last row */
}

.row .box:first-child {
  border-left: none;
}

.row .box:last-child {
  border-right: none;
}

#reset-btn {
  background-color: #5d737e;
  color: #000000;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
}

#reset-btn:hover {
  background-color: #1b263b;
  padding: 10px 40px;
  color: #fff;
}

#new-btn {
  background-color: #5d737e;
  color: #000000;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
#new-btn:hover {
  background-color: #1b263b;
  padding: 10px 40px;
  color: #fff;
}

#msg {
  color: #ef233c;
  font-size: 5vmin;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

.hide {
  display: none;
}
